rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Files look like: "user/<UID>/path/to/file.txt"
    match /user/{userId}/images/{allPaths=**} {
      allow read;
    }
    match /user/{userId}/images/galleries/{gid}/{allImages=**} {
    	allow delete: if request.auth.uid == userId;
      allow create, update: if request.auth.uid == userId
                    && request.resource.size < 3 * 1024 * 1024
                    && request.resource.contentType.matches('image/.*');
    }
    match /user/{userId}/images/profolio/{pid}/{allImages=**} {
    	allow delete: if request.auth.uid == userId;
      allow create, update: if request.auth.uid == userId
                    && request.resource.size < 3 * 1024 * 1024
                    && request.resource.contentType.matches('image/.*');
    }
  }
}